header {
  @extend .flex-between;

  .header-brand {
    display: flex;
    align-items: center;
    font-weight: bold;

    p {
      margin-inline: 10px;
    }
  }

  @media (max-width: 770px) {
    & {
    
      nav {
        padding-top: 10px;
      }
    }
  }
}
